.product-details {
    float: left;
}

.product-image {
    float: right;
    width: 400px;
}



.product-item {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    display: flex;
    text-align: center;
    gap: 30px;
  }